.ocjene * {
  margin: 10px;
}
.ocjene {
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  border: 1px black solid;
  width: fit-content;
}
.ocjene-container {
  display: flex;
  flex-wrap: wrap;
}
.ocjene-data {
  display: flex;
  flex-direction: column;
  border-right: 1px black solid;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
