.ocjene * {
  margin: 10px;
}
/* .ocjene {
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  border: 1px black solid;
  width: fit-content;
} */

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
