.ucenik {
  display: grid;
  flex-direction: column;
  border: 1px solid black;
  margin: 2rem auto;
  border-radius: 5px;
  padding: 15px;
  grid-template-rows: 43px 210px;
  grid-template-columns: 310px 326px 161px;
  justify-content: center;
  width: max-content;
}
.ucenik-row {
  display: flex;
}
.ucenici {
  display: flex;
  border: 1px black solid;
  margin: 10px;
  border-radius: 10px;
  padding: 1rem;
}
.ucenik h1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.ucenik .data {
  grid-column-start: 2;
  grid-column-end: 3;
}
.image {
  width: 150px;
  height: 150px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
}
.image img {
  width: 150px;
  height: 150px;
}
.button {
  margin: 10px 10px;
  border-radius: 10px;
  background: #3c0080;
  color: white;
  cursor: pointer;
  padding: 0.4rem;
  width: 5rem;
  text-decoration: none;
  text-align: center;
  height: fit-content;
}
