.ucenik-container {
  border: 1px black solid;
  border-radius: 10px;
  display: flex;
  margin: 10px;
  justify-content: space-between;
  padding: 10px;
  width: max-content;
  align-items: center;
}
.button {
  margin: 10px 10px;
  border-radius: 10px;
  background: #3c0080;
  color: white;
  cursor: pointer;
  padding: 0.4rem;
  width: 5rem;
}
